@page "{id:int?}"
@model HowIdentity.Pages.SuperAdmin.EditUser.Index

<div class="user-page">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>Edit User</h2>
                </div>
                <form method="post" asp-page-handler="Update">
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Roles</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < Model.RoleOptions.Length; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" asp-for="RoleOptionsUpdate[i].Id" value="@Model.RoleOptions[i].Id"/>
                                        @Model.RoleOptions[i].Id
                                    </td>
                                    <td>@Model.RoleOptions[i].Name</td>
                                    <td>
                                        <input asp-for="RoleOptionsUpdate[i].Apply" checked="@Model.RoleOptions[i].Apply"/>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        
                        <input type="hidden" name="UserId" value="@Model.AppUser.Id"/>
                        <button type="submit" class="btn btn-danger">Update</button>
                    </div>
                </form>
            </div>

            @if (Model.Errors.Any())
            {
                <div class="card">
                    <div class="card-header">
                        <h2>Errors</h2>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Message</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var error in Model.Errors)
                        {
                            <tr>
                                <td>@error.Key</td>
                                <td>@error.Message</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>