@page
@model HowIdentity.Pages.SuperAdmin.AppUsers.Index

<div class="users-page">
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>User List</h2>
                </div>

                <div class="card-body">

                    @if (Model.Users != null)
                    {
                        <div class="row">
                            <div class="col">
                                <form class="form">
                                    <div class="form-group row">
                                        <label asp-for="@Model.EmailFilter" class="col-2 col-form-label">Email:</label>
                                        <input type="search" asp-for="@Model.EmailFilter" class="col form-control" autofocus/>
                                    </div>
                                </form>
                            </div>
                            <div class="col-1 text-center">
                                @if (Model.Users.Any())
                                {
                                    <a class="btn btn-primary" asp-page="/ServerSideSessions/Index"
                                       asp-route-DisplayEmailFilter="@Model.EmailFilter">
                                        Next
                                    </a>
                                }
                            </div>
                        </div>

                        @if (Model.Users.Any())
                        {
                            <div class="text-center">
                                <text>
                                    Total Results: @Model.Users.Count,
                                </text>
                            </div>
                        }

                        <br/>

                        @if (Model.Users.Any())
                        {
                            <div>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>IsSuspended</th>
                                        <th>IsDeleted</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            <td>@user.Id</td>
                                            <td>@user.Email</td>
                                            <td>@user.Roles</td>
                                            <td>@user.IsSuspended</td>
                                            <td>@user.IsDeleted</td>
                                            <td>
                                                <form method="post" asp-page-handler="Suspend">
                                                    <input type="hidden" name="UserId" value="@user.Id"/>
                                                    <input type="hidden" name="IsSuspend" value="@(user.IsSuspended ? "True" : "False")"/>
                                                    <button type="submit" class="btn btn-danger" disabled="@(user.IsDeleted ? "disabled" : null)">@(user.IsSuspended ? "Reactivate" : "Suspend")</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="post" asp-page-handler="Delete">
                                                    <input type="hidden" name="UserId" value="@user.Id"/>
                                                    <button type="submit" class="btn btn-danger" disabled="@(user.IsDeleted ? "disabled" : null)">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">No Users</div>
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                You do not have any users.
                            </div>
                        </div>
                    }
                </div>
            </div>
            
            @if (Model.Errors.Any())
            {
                <div class="card">
                    <div class="card-header">
                        <h2>Errors</h2>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Message</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var error in Model.Errors)
                        {
                            <tr>
                                <td>@error.KeyError</td>
                                <td>@error.MessageError</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>